*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #333;
    color: white;
    padding: 100px 0;
    text-align: center;
}
nav{
    background-color: #111;
    padding: 1px;
    text-align: center;

    a{
        color: white;
        text-decoration: none;
        padding: 0 20px;
    }
}

main{
    margin: 30px;
    padding: 50px;
    height: 600px;

    .main-container{
        display: flex;
        flex-direction: column;

        .main-title{
            text-align: center;
            margin-bottom: 30px;
        }

        .service{
            display: flex;
            justify-content: center;

            .box{
                width: 400px;
                height: 400px;
                background-color: #ccc;
                margin: 0 20px;
                border-radius: 10px;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img{
                    width: 100px;
                    height: auto;
                }

                .name{
                    margin: 20px;
                }

                .info{
                    margin: 0 20px;
                    color: gray;
                }

                .mini-container{
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    text-align: center;

                    .mini-box{
                        width: 100px;
                        height: 20px;
                        background-color: rgb(185, 184, 182);
                        margin-top: 20px;
                        border-radius: 10px;

                        .mini-info{
                            font-size: 13px;
                            color: #333;
                            padding: 2.5px;
                        }
                    }
                }
                
            }
        }
    }
}

footer{
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
}