*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #333;
    color: white;
    padding: 100px 0;
    text-align: center;
}
nav{
    background-color: #111;
    padding: 1px;
    text-align: center;
    a{
        color: white;
        text-decoration: none;
        padding: 0 20px;
        display: inline-block;
        transition: 0.3s;
    }
    a:hover{
        transform: scale(1.20);
    }
}
main{
    padding: 50px;
    height: 600px;

    .main-container{
        background-color: #ccc;
        padding: 50px;
        border: 3px solid #333;
    }

    .main-title{
        text-decoration: underline;
    }

    .main-info{
        margin: 20px 0;
    }

    .main-btn{
        background-color: #111;
        border: 1px solid #111;
        border-radius: 10px;
        padding: 10px 10px;
        display: inline-block;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;
        
    }

    .main-btn:hover{
        background-color: #ccc;
        color: #111;
        transform: scale(1.01);
    }

    .box-readmore{
        margin: 10px 0;
        padding: 10px;
        background-color: gainsboro;
        border-radius: 30px;

        .more-text{
            padding: 10px;
        }
    }
}

footer{
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
}